.App {
  text-align: center;
  margin: 15vh 15vw;
}

.Title {
  font-family: "Style Script", cursive;
  font-size: 3rem;
}

/* .TodoList {
  background-color: #fad369;
  border-radius: 15%;
  height: 65vh;
} */
